@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(./images/resturant-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

#content {
  margin-top: 100px;
  width: 100%;
}

.nav-tabs {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bolder;
  background-color: silver;
  border-radius: 10px;
  margin: 0;
}

.nav-tabs .nav-btn {
  background-color: transparent;
  cursor:pointer;
  color: #000;
  border: none;
  font-weight: bolder;
  outline: none;
  padding: 10px;
}

.nav-tabs .nav-btn:hover{
  background-color: orange;
}

#homeContainer {
  background-color: #fff;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  border-radius: 5px;
}

.menu-btn {
  background-color: #fd7e14;
  border-color: #fd7e14;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
}

.menu-btn:focus {
  outline: none;
}

#contact-content, #menu-content, #home-content {
  color: #000;
}

#menuContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  align-items: center;
  justify-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-box {
  background-color: #b19cd9;
  width: 290px;
  height: 250px;
}