body {
  background-image: url(./images/resturant-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
nav .nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  font-weight: bolder;
  background-color: black;
  border-radius: 10px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-bar li {
  list-style-type: none;
}